*{
margin: 0;
padding: 0;
}

body{
font-family:'poppings', sams-serif;
}

.cabecalho{
background-color:#3897cd;
color:white;
display:flex;
justify-content:space-around;
align-itens:center
padding: 24px 0;

}

cabecalho-imagen{
width:10%;
}

cabecalho-lista-item {
display:inline-block;
wargin:0 16px;
font-size:16px;
}

.cabecalho-lista-item a {
text-decoration:nome;
color:white;
}
